body{
    background-color: rgb(3, 3, 3);
}

i { color: #dddddd;}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 100% ;
    gap: 10px;
    background-color: black;
}

header{
    background-color: black;
    grid-column: 1 / 3;
    grid-row: 1 / 2 ;
    
}

.superior{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.barra{
    background-color: black;
    border-radius: 10px;
    width: 400px;
    height: 50px;
}

.logo{
   width: 100px;
}

.lateral{
    background-color: black;
    justify-content: start;
    align-items: left;
    grid-column: 1/2;
    grid-row: 2/3;
    width: 25%;
}

.lateral .item {
    color: rgba(255, 255, 255, 0.83);
    padding: 5px;

}

.conteudo{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(2, 1fr) ;
    gap: 10px;
    margin: auto;
    grid-column: 1/3;
    grid-row: 1/3;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.item{
    padding: 30px;
    
}

.conteudo .item{
    width: 300px;
    height: 300px;
}

.conteudo .item .thumbnail{
    width: 85%;
}

.conteudo .item .profile{
    width: 15%;
}

h3{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
h4{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

h5{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

@media only screen and (min-width: 768px) {
    .lateral .item{
        display: nome;
    }
  }
  
  /* Estilos para dispositivos de tela pequena */
  @media only screen and (max-width: 480px) {
    body {
      font-size: 14px;
    }
  }